{% load video_tags %}
<div class="c-s-6">
    <div class="widget-video" id="video_{{ video.id }}" data-video-id="{{ video.id }}">
        <h4><a href="{{ video.get_absolute_url }}">{{ video.title|default_if_none:"" }}</a></h4>
        <p>{{ video.description|default_if_none:"" }}</p>
        <div>
            <a class="btn btn-link btn-small"  href="{% url 'userprofile_detail'  username=video.user.username  %}">{{ video.user.display_name }}</a>
            {% if video.category_id == None %}
                <a class="btn btn-link btn-small" href="{% url 'explore' %}"> Explore </a>
            {% else %}
                <a class="btn btn-link btn-small" href="{% url 'explore_c' categoryid=video.category_id %}">{{ video.category.title|default_if_none:"" }}</a>
            {% endif %}
            {% if user.is_authenticated %}
            <a class="btn btn-link btn-small pull-right btn-video-like"><i class="e-icon-thumbs-up"></i>{{ video.like }}</a>
            <span class="pull-right video-label-recommend">{{ video.recommend }}</span>
            <a class="btn btn-link btn-small pull-right btn-video-unlike"><i class="e-icon-thumbs-up2"></i>{{ video.unlike }}</a>
            {% if video|chk_favorite_video:user %}
            <a class="btn btn-link btn-small pull-right btn-video-bookmark" data-fav="fav"><i class="e-icon-star3"></i>{{ video.stared }}</a>
            {% else %}
            <a class="btn btn-link btn-small pull-right btn-video-bookmark" data-fav="none"><i class="e-icon-star"></i>{{ video.stared }}</a>
            {% endif %}
            {% else %}
            <a class="btn btn-link btn-small pull-right need_auth" data-description="Please sign in to bookmark this video."><i class="e-icon-thumbs-up"></i>{{ video.like }}</a>
            <a class="btn btn-link btn-small pull-right need_auth" data-description="Please sign in to vote this video."><i class="e-icon-thumbs-up2"></i>{{ video.unlike }}</a>
            <a class="btn btn-link btn-small pull-right need_auth" data-description="Please sign in to vote this video."><i class="e-icon-star"></i>{{ video.stared }}</a>
            {% endif %}
        </div>
        <div class="video-area m-b-5">
            <!-- video area -->
            {% if video.thumbnail %}
            <img src="{{ video.thumbnail.url }}" height="150px"/>
            {% else %}
            <img src="{{MEDIA_URL}}images/placeholder.gif" alt=""/>
            {% endif %}
        </div>
        <div class="social clearfix m-b-5">
            {% if not user.is_authenticated %}
            <a href="{% url 'auth_login' %}" class="btn btn-warning btn-small pull-right">JOIN</a>
            {% endif %}
            {% include "snippets/share.html" with page_url=video.get_absolute_url page_title=video.title %}
        </div>
        {% if user.is_authenticated %}
        <div class="comment-form clearfix row-fluid m-b-5">
            {% csrf_token %}
            <input type="text" placeholder="Comment or message" class="span10 m-b-0 txt-create-comment">
            <input type="button" class="btn btn-primary btn-small span2 btn-create-comment" value="+">
        </div>
        <div class="clearfix"><a class="btn btn-link btn-small btn-toggle-comment pull-right" href="#v_comment_area_{{ video.id }}" data-toggle="collapse">Show Comments({{ video.recentComments.count }})</a></div>
        <div id="v_comment_area_{{ video.id }}" class="thumb-comment-tab tabbable {% if not video.recentComments %}hide{% endif %} collapse" data-count="{{ video.recentComments.count }}">
            <ul class="nav nav-tabs m-b-0" id="myTab">
                <li class="active"><a href="#recent_comments_{{ video.id }}" data-toggle="tab">Recent Comments</a></li>
                <li><a href="#top_comments_{{ video.id }}" data-toggle="tab">Top Comments</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="recent_comments_{{ video.id }}">
                    {% include "comment_list.html" with comments=video.recentComments %}
                </div>
                <div class="tab-pane" id="top_comments_{{ video.id }}">
                    {% include "comment_list.html" with comments=video.topComments %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
