		  // 	    onCuepoint: [
    //     			// each integer represents milliseconds in the timeline
    //     			[1000, 2000, 3000, 4000],
 
			 //        // this function is triggered when a cuepoint is reached
			 //        function(clip, cuepoint) {
			 //            alert("cuepoint " + cuepoint + " entered on clip " + clip.url);
				// 		$("#data-time").html(cuepoint);
				// 		// $("#data-time").html(String(parseInt($f().getTime())));
			 //        }
				// ]}
		 //  	onStart: function() {
			// 	var self = this;
			// 	var timer = setInterval(function() {
			// 		$("#data-time").html(String(parseInt($f().getTime())));
			// 	}, 1000);
			// 	// when playback is stopped clear timer
			//     if (self.getState() == 5) clearInterval(timer);
			// }